@import "./variables.scss";

@import "./pages/home.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    // height: 100%;
    font-family: $body-font;
}